version: '3'

services:
  nuxt-app:
    build: .
    ports:
      - "3000:3000"
    restart: "no"  # 禁用自动重启
    volumes:
      - .:/app
    environment:
      - NODE_ENV=production
    networks:
      - nuxt_network
    restart: always

networks:
  nuxt_network:
    driver: bridge
