version: '3.8'

services:
  nuxt_app:
    build:
      context: . # Build from the current directory
      dockerfile: Dockerfile
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000
    environment:
      - NODE_ENV=production # Set environment if needed, NUXT_HOST is already in Dockerfile
    # Optional: use a volume for persistent data or during development for hot-reloading
    # volumes:
    #   - .:/app