version: '3'

services:
  nuxt-app:
    build: .
    ports:
      - "3000:3000"  # 映射端口
    restart: always  # 自动重启容器
    volumes:
      - .:/app  # 本地代码与容器同步，方便开发调试
    environment:
      - NODE_ENV=production  # 设置生产环境变量
    networks:
      - nuxt_network  # 配置网络

networks:
  nuxt_network:
    driver: bridge  # 使用桥接网络
